
<header class="notFoundSection ">
    <div class="container mt-4">
        <div class="row">
    
            <div class="col-md-4">
                <div class="imgNotFound">
    
                    <img [src]="imgSrc" alt="" class="w-100">
    
                </div>
            </div>
    
            <div class="col-md-4 mt-5">
                <div class="textNotFound">
                    <h1>PAGE NOT FOUND
                    </h1>
                    
                    <P>We're sorry. The page you are looking for cannot be found.
                    
                    </P>
                    
                    
    
                </div>
            </div>
    
           
    
        </div>
    </div>
</header>