

<header class="contactSection">
    <div class="container">
        <div class="row">

            <div class="col-md-8  mx-auto p-5">

                <div class="contactText text-center">

                    <p>CONATCT SECTION
                    </p>

                    <span class="starbreak "> <i _ngcontent-wra-c6="" class="fa-solid fa-star "></i> </span>


                    <input class="form-control mt-3 mb-3" type="text" placeholder="userName">

                    <input class="form-control mb-3" type="text" placeholder="userAge">

                    <input class="form-control mb-3" type="text" placeholder="userEmail">

                    <input class="form-control mb-3" type="text" placeholder="userPassword">

                    <a class="btn btnStyle" href=""> send Messgae </a>

                </div>

            </div>

        </div>
    </div>
</header>
