
.contactSection
{
    background-color: #F7ECDE;
    margin-top: 5rem;
}


.contactSection p
{
    font-size: 32px;
    font-weight: 700;
    color:  #1ABC9C;
}


.form-control:focus
{
    box-shadow : transparent !important
}

.starbreak
{
    position: relative;
    color:  #1ABC9C;
}


.starbreak::before
{
    content: '';
    position: absolute;
    background-color:  #1ABC9C;
    top: 50%;
    right: 120%;
    width: 70px;
    height: 5px;
}


.starbreak::after
{
    content: '';
    position: absolute;
    background-color:  #1ABC9C;
    top: 50%;
    left: 120%;
    width: 70px;
    height: 5px;
}


.btnStyle
{
    background-color: #1ABC9C;
    color: white;

}