<header class="porfolioSection">
  <div class="container p-4">
    <div class="portfoliText text-center mb-4">
      <h1>PORTFOLIO COMPONENT</h1>

      <span class="starbreak">
        <i _ngcontent-wra-c6="" class="fa-solid fa-star"></i>
      </span>
    </div>

    <div class="row g-4">
      <div class="col-md-4">
        <div class="portfolioItems">
          <img src="./assets/images/poert1.png" class="w-100" alt="" />

          <div
            class="portofoiloHiddenLayer"
            data-bs-toggle="modal"
            data-bs-target="#homeImg"
          >
            <span> <i class="fa-solid fa-fan fa-spin fa-2xl"></i> </span>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="portfolioItems">
          <img src="./assets/images/port2.png" class="w-100" alt="" />

          <div
            class="portofoiloHiddenLayer"
            data-bs-toggle="modal"
            data-bs-target="#cakeImg"
          >
            <span> <i class="fa-solid fa-fan fa-spin fa-2xl"></i> </span>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="portfolioItems">
          <img src="./assets/images/port3.png" class="w-100" alt="" />

          <div class="portofoiloHiddenLayer"  data-bs-toggle="modal"data-bs-target="#houseImg">
            <span> <i class="fa-solid fa-fan fa-spin fa-2xl"></i> </span>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="portfolioItems">
          <img src="./assets/images/poert1.png" class="w-100" alt="" />

          <div class="portofoiloHiddenLayer"    data-bs-toggle="modal"data-bs-target="#homeImg">
            <span> <i class="fa-solid fa-fan fa-spin fa-2xl"></i> </span>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="portfolioItems">
          <img src="./assets/images/port2.png" class="w-100" alt="" />

          <div class="portofoiloHiddenLayer"   data-bs-toggle="modal"data-bs-target="#cakeImg">
            <span> <i class="fa-solid fa-fan fa-spin fa-2xl"></i> </span>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="portfolioItems">
          <img src="./assets/images/port3.png" class="w-100" alt="" />

          <div class="portofoiloHiddenLayer" data-bs-toggle="modal"data-bs-target="#houseImg">
            <span> <i class="fa-solid fa-fan fa-spin fa-2xl"></i> </span>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div
        class="modal fade"
        id="homeImg"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-fullscreen-sm-down">
          <div class="modal-content">
            <div class="modal-body">
              <img src="./assets/images/poert1.png" class="w-100" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade"
        id="cakeImg"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-fullscreen-sm-down">
          <div class="modal-content">
            <div class="modal-body">
              <img src="./assets/images/port2.png" class="w-100" alt="" />
            </div>
          </div>
        </div>
      </div>

      <div
      class="modal fade"
      id="houseImg"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content">
          <div class="modal-body">
            <img src="./assets/images/port3.png" class="w-100" alt="" />
          </div>
        </div>
      </div>
    </div>

    </div>
  </div>
</header>
